@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;1,500;1,900&display=swap');
*{
    padding:0px;
    margin:0px;
  }

.homeImage {
    width: 100%;
    height: 1042px;
    left: 0px;
    top: 139px;
    border-radius: 0 0 0 300px
}

.homeLabel {
    width: 567px;
    height: 212px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 125%;
    /* or 106px */
    display: flex;
    align-items: center;
    color: #292F36;
}

.homeDescTxt {
    width: 553px;
    height: 66px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #4D5053;
}

.getStartedBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px 48px;
    gap: 10px;
    width: 219.14px;
    height: 75px;
    background: #08090a;
    box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
    border-radius: 18px;
    color: white;
    border: none;
    cursor: pointer;
}

.vector {
    width: 15.14px;
    height: 13.18px;
}

.homeSectionCont {
    position: relative;
}

.overlappedDiv {
    float: left;
    position: absolute;
    left: 150px;
    top: 362px;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

.itemsDesc {
    display: flex;
    align-items: stretch;
    padding: 100px 281px;
    text-align: center;
}

.itemsDesc h3{
    padding-bottom: 20px;
}

.itemsDesc button {
    padding-top: 20px;
    border: none;
    background: none;
    cursor: pointer;
}


.stylishLiving {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 220px;
    font-style: normal;
    font-size: 20px;
    align-items: center;
    color: #292F36;
}


.homeStylish {
    width: 500px;
    height: 1097px;
    border-radius: 0 300px 0 80px;
}

.stylishLiving h2 {
    padding-bottom: 30px;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}

.stylishLiving label {
    font-family: 'Jost';
    font-size: 22px;
}

.stylishLiving div {
    padding: 10px;
}

.conatcts {
    display: flex;
}

.circleBase {
    border-radius: 50%;
} 

.type {
    width: 73px;
    height: 73px;
    background: #F4F0EC;
}

.peopleThink {
    width: 83%;
    background-color:#F4F0EC;
    margin:0 auto;
}

.peopleThink h1 {
    background-color: #F4F0EC;
    width: 547px;
    height: 126px;
    /* top: 0px; */

    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    /* line-height: 125%; */
    text-align: center;
    color: #292F36;
    margin-left: 250px;
}

.profiCont {
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.profiCont img{
    border-radius: 120px;
    width: 50px;
}


.profilDiv p {
    margin: 30px;
    line-height: 2;
}

.profSect {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.profilDiv {
    width: 370px;
    height: 300px;
    background: #FFFFFF;
    border-radius: 12px;
    margin-left: 10px;
}


.followProjects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
    max-height: 80%;
    margin-top:5%;
    margin-bottom: 5%;
    margin-left: 10%;
}

.followProjects img {
    width: 400px;
    height: 400px;
}

.followProjects div {
    text-align: center;
}

.followProjects text {
    font-family: 'Jost';
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
}

.projectLabels {
    display: flex;
    flex-direction: column;
}

.followHeader {
    padding-left: 100px;
    text-align: center;
}

.followHeader h1 {    
    font-family: 'DM Serif Display';
    font-size: 50px;
    line-height: 125%;
    letter-spacing: 0.02em;
    
}

.followHeader text{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4D5053;
}