* {
    margin: 0;
}

.navMenu {
    padding: 0 15% 0 15%;
}


li {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-between;
}

.listItems {
    display: flex;
    text-decoration: none;
    padding-right: 40px;
}

.Logo {
    padding-top: 15px;
    display: flex;
}

.logoImage {
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
}

.navItem {
    padding: 15px 0 0 30px;
}

.navigationBar {
    height: 50px;
    background-color: white;
}

